:root {
  --white: white;
  --blue: #129af0;
  --dark-blue: #0e7cc1;
  --pale-blue: #d6edff;
  --red: #ff6c6c;
  --pale-red: #fff0f0;
  --grey: #9b9797;
  --green: #2de162;
  --yellow: #ffcf01;
  --dark-yellow: #e8bc02;
  --main-bg-color: #f1f3f7;
  --main-color: #3a3a3a;
  --page-header-color: #129af0;
  --content-header-color: var(--yellow);
  --content-header-bg-color: #2d9bf0;
  --content-subheader-color: var(--white);
  --content-subheader-bg-color: #8ac5f2;
}

/* fonts.css */

@font-face {
    font-family: 'rubik-medium';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/rubik/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'rubik';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/rubik/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'astroneer-bold';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/astroneer/NDAstroneer-Bold.ttf');
}

@font-face {
    font-family: 'astroneer';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/astroneer/NDAstroneer-Regular.ttf');
}

body {
    padding: 2%;
    font-family: astroneer;
    position: relative;
    min-height: 100vh;
}

/* The background image is setup with before so that we can control its opacity */
body:before {
    content: ' ';
    display: block;

    background-image: url('Site-background-light.webp');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: -1;

    opacity: 0.6;
}

b {
    font-family: astroneer-bold;
}

.top-container {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    padding: 10px;
}

.content-section {
    margin-bottom: 50px;
}

.page-header {
    color: var(--page-header-color);
    font-weight: bold;
}

.important-word {
    color: var(--page-header-color);
    font-weight: bold;
}

.content-header {
    font-family: astroneer-bold;
    text-transform: uppercase;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 3px;
}

.content-subheader {
    font-family: astroneer-bold;
    text-transform: capitalize;
    color: var(--blue);
    border-bottom: 1px solid var(--dark-yellow);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-bottom: 3px;
}

button {
    color: var(--blue);
    background: white;
    border: 1px solid var(--blue);
    border-radius: 5px;
}

button:disabled {
    color: var(--grey);
    background: white;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.btn-danger {
    color: var(--red);
    border: 1px solid var(--red);
}

.warning {
    background: var(--pale-red);
    padding: 10px;
    border: 2px solid var(--red);
    margin: 10px;
    color: var(--red);
    border-radius: 5px;
}

.info {
    background: #d6edff;
    padding: 10px;
    border: 2px solid var(--blue);
    margin: 10px;
    color: var(--blue);
    border-radius: 5px;
}
