:root {
  --main-bg-color: white;
  --main-color: #3a3a3a;
  --blue: #129af0;
  --red: #ff6c6c;
  --grey: #9b9797;
  --page-header-color: #129af0;
  --content-header-color: #ffcf01;
  --content-header-bg-color: #2d9bf0;
  --content-subheader-color: white;
  --content-subheader-bg-color: #8ac5f2;
}

/* fonts.css */

@font-face {
    font-family: 'rubik-medium';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/rubik/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'rubik';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/rubik/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'astroneer-bold';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/astroneer/NDAstroneer-Bold.ttf');
}

@font-face {
    font-family: 'astroneer';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/astroneer/NDAstroneer-Regular.ttf');
}

body {
    background-image: url('Site-background-light.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 4%;
    font-family: astroneer;
}

b {
    font-family: astroneer-bold;
}

.top-container {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    padding: 20px;
    border-radius: 3px;
}

.content-container {
    width: 95%;
    margin: auto;
}

.content-section {
    border: 3px solid var(--content-header-bg-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.page-header {
    color: var(--page-header-color);
    font-weight: bold;
}

.important-word {
    color: var(--page-header-color);
    font-weight: bold;
}

.content-header {
    font-family: astroneer-bold;
    color: var(--content-header-color);
    background-color: var(--content-header-bg-color);
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
    margin-top: 0.2em;
    text-align: center;
    border-radius: 10px;
}

.content-subheader {
    font-family: astroneer-bold;
    color: white;
    background-color: var(--content-subheader-bg-color);
    border: none;
    box-shadow: none;
    text-align: center;
    border-radius: 7px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

button {
    color: var(--blue);
    background: white;
    border: 1px solid var(--blue);
    border-radius: 5px;
}

button:disabled {
    color: var(--grey);
    background: white;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.btn-danger {
    color: var(--red);
    border: 1px solid var(--red);
}
