:root {
  --main-bg-color: white;
  --main-color: #3a3a3a;
  --page-header-color: #129af0;
  --content-header-color: #ffcf01;
  --content-header-bg-color: #2d9bf0;
  --content-subheader-color: white;
  --content-subheader-bg-color: #8ac5f2;
}

body {
    background-image: url('Site-background-light.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 4%;
}

.top-container {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    padding: 20px;
    border-radius: 3px;
}

.content-container {
    width: 95%;
    margin: auto;
}

.content-section {
    border: 3px solid var(--content-header-bg-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.page-header {
    color: var(--page-header-color);
    font-weight: bold;
}

.content-header {
    color: var(--content-header-color);
    background-color: var(--content-header-bg-color);
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
    margin-top: 0.2em;
    text-align: center;
    border-radius: 10px;
}

.content-subheader {
    color: white;
    background-color: var(--content-subheader-bg-color);
    border: none;
    box-shadow: none;
    margin-bottom: 7px;
    text-align: center;
    border-radius: 7px;
}

table {
    border: 3px solid var(--content-header-bg-color);
    border-radius: 10px;
}

th, td {
    border: 0px;
}

/* Not sure why it doesn't work with tr */
td {
    border-bottom: 1px solid #d5c7c7;
}
tbody > tr:last-child > td {
    border: none;
}
